// Estilo para tablas utilizadas en la aplciación
.sy

  // Titulo que se utilizan sobre las tablas
  &__title-table
    color: #1a54a2;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    height: 40px;
    padding-left: 10px;
    font-weight: bold !important;
    font-size: 14px !important;
    justify-content: space-between;

  &-table
    &__container
      background: #fff;
      border: 1px solid #b5bdd2;
      border-radius: 4px;
      box-shadow: 0 0 8px 0 rgba(0,0,0,0.16);
      margin-top: 10px
      &--padding
        padding: 10px 0;

table
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  border: none;
th
  padding: 3px;
  background-color: #efefef;
  color: #222;
  font-weight: normal;
  white-space: nowrap;
  color: black !important;
  font-weight: bold !important;
  border: 1px solid #ccc;
  span
    margin-left: 5px;
td
  padding: 0 2px;
  white-space: nowrap;
  font-size: 12px;
  min-height: 20px;
  height: 20px;
  color: #555 !important;
  font-size: 12px !important;
  border: 1px solid #ccc;
thead
  tr
    background: #efefef;
    border-bottom: 1px solid #ccc;
