.sett-contributor

  //- Lista de tablas del archivo
  .sett-contributor__container


    //Confirmacion
    .sy-table__container(ng-if="$ctrl.validationResult.resultMessage")
      .sett-contributor__messagetitle
        i.mdi.mdi-bell-outline
        span(ng-bind="'SETTLEMENT.TABLES.CONFIRMATION' | translate")
      .sett-contributor__messages
        p(ng-bind="$ctrl.validationResult.resultMessage")

    //Advertencias
    .sy-table__container(ng-if="$ctrl.validationResult.ruafOrBdua")
      .sett-contributor__messagetitle
        i.mdi.mdi-bell-outline
        span(ng-bind="'SETTLEMENT.TABLES.WARNINGS' | translate")
      .sett-contributor__messages
        p(ng-bind="'SETTLEMENT.TABLES.MSG_BDUA' | translate")
      .sett-contributor__messageopts
        .sett-contributor__messageopts__opt
        .sett-contributor__messageopts__opt
          a(ng-click="$ctrl.actionGenerateXls('BDUA')")
            i.mdi.mdi-file-excel
              span(ng-bind="'SETTLEMENT.TABLES.BDUA' | translate")
        .sett-contributor__messageopts__opt
          a(ng-click="$ctrl.actionGenerateXls('RUAF')")
            i.mdi.mdi-file-excel
              span(ng-bind="'SETTLEMENT.TABLES.RUAF' | translate")
        .sett-contributor__messageopts__opt
          a(ng-click="$ctrl.actionSavePlanilla()")
            i.mdi.mdi-content-save
              span(ng-bind="'SETTLEMENT.LOAD.ACTIONS.ACCEPT' | translate")
        .sett-contributor__messageopts__opt

    //- Registro tipo 1
    .sy-table__container
      .sy__title-table(ng-bind="'SETTLEMENT.TABLES.REGTP01' | translate")
      //table-edit(data="$ctrl.file.data.regTp01" labels="$ctrl.file.data.labelsTp01" id-table="'regTp01'" cell-no-edit="$ctrl.cellNoEditType1")
      hands-on-table(data="$ctrl.file.data.regTp01" labels="$ctrl.file.data.labelsTp01" id-table="'regsTp01'" cell-no-edit="$ctrl.cellNoEditType1")

    //- Registro tipo 2
    .sy-table__container.sett-contributor__table-edit
      .sy__title-table
        span(ng-bind="'SETTLEMENT.TABLES.REGSTP02' | translate")
        //- Cinta de opciones de la tabla de registro tipo 2
        .sett-contributor__menu
          .sett-contributor__menu-item
            i.mdi.mdi-file-document(ng-click="$ctrl.actionOnlyErrors()" ng-mouseover="$ctrl.actionShowTooltip($event)" ng-mouseleave="$ctrl.actionHideTooltip($event)")
              span Mostrar Solo Errores
          .sett-contributor__menu-item
            i.mdi.mdi-menu-left
            i.mdi.mdi-menu-right
          .sett-contributor__menu-item
            i.mdi.mdi-menu-up
            i.mdi.mdi-menu-down
          .sett-contributor__menu-item
            i.mdi.mdi-table-row-remove(ng-click="$ctrl.actionDeleteRegister()" ng-mouseover="$ctrl.actionShowTooltip($event)" ng-mouseleave="$ctrl.actionHideTooltip($event)")
              span Eliminar cotizante
            i.mdi.mdi-table-row-plus-after(ng-click="$ctrl.actionAddRegister()" ng-mouseover="$ctrl.actionShowTooltip($event)" ng-mouseleave="$ctrl.actionHideTooltip($event)")
              span Agregar cotizante
            i.mdi.mdi-repeat(ng-click="$ctrl.actionDuplicateRegister()" ng-mouseover="$ctrl.actionShowTooltip($event)" ng-mouseleave="$ctrl.actionHideTooltip($event)")
              span Duplicar cotizante
          .sett-contributor__menu-item
            i.mdi.mdi-format-list-bulleted

      //- Tabla de datos del registro tipo 2
      //- table-edit(data="$ctrl.file.data.regsTp02" labels="$ctrl.file.data.labelsTp02" id-table="'regsTp02'" active-filter="true" fixed-columns="true" selected-item="$ctrl.selectedItem" cell-no-edit="$ctrl.cellNoEditType2" active-sub-menu="true" object-filter="$ctrl.objectFilter" only-errors-filter="$ctrl.onlyErrorsFilter" replace-active="true")
      .table__left
        hands-on-table(data="$ctrl.file.data.regsTp02" labels="$ctrl.file.data.labelsTp02" id-table="'regsTp02'" active-filter="true" fixed-columns="true" selected-item="$ctrl.selectedItem" cell-no-edit="$ctrl.cellNoEditType2" active-sub-menu="true" object-filter="$ctrl.objectFilter" only-errors-filter="$ctrl.onlyErrorsFilter" replace-active="true")
        .table__scroll-error(id="barra-errores" style="height:{{$ctrl.height -30}}px;")
          .item


    //- Tabla para mostrar errores de registros
    .sy-table__container.sett-contributor__error
      .sy__title-table(ng-bind="'SETTLEMENT.TABLES.ERRORS' | translate")
      error-contributors(column-Filter="false" data="$ctrl.listErrorsContributors" object-filter="$ctrl.filterError" title-error="true")
      //- hands-on-table(data="$ctrl.listErrorsContributors.data" object-filter="$ctrl.filterError" id-table="'contributors'")
