.sy-table__container(ng-if="$ctrl.listErrorsContributors")
  .sy__title-table(ng-bind="'SETTLEMENT.TABLES.ERRORS' | translate")
  error-contributors(column-Filter="true" data="$ctrl.listErrorsContributors" object-filter="{autocorregible:false}" style-error="true" title-error="false")
  hands-on-table(active-filter="true" data="$ctrl.listErrorsContributors.data" object-filter="{autocorregible:false}" id-table="'error'")
  .sy__button-container.sett__buttons
    div
      .sy__button--blue(ng-class="{}" ng-click="$ctrl.actionExportToCsv()")
        i.mdi.mdi-content-save
        span(ng-bind="'SETTLEMENT.ACTIONS.EXPORT_CSV' | translate")
