.sett-info

  .sett-info__divider

  .sett-info__content
    .sett-info__title(ng-bind="'SETTLEMENT.INFO.PERIOD_PENSION' | translate")
    .sett-info__text(ng-bind="$ctrl.info.periodPension || 'SETTLEMENT.INFO.UNDEFINED' | translate")
  .sett-info__content
    .sett-info__title(ng-bind="'SETTLEMENT.INFO.PERIOD_HEALTH' | translate")
    .sett-info__text(ng-bind="$ctrl.info.periodHealth || 'SETTLEMENT.INFO.UNDEFINED' | translate")

  .sett-info__divider

  .sett-info__content
    .sett-info__title(ng-bind="'SETTLEMENT.INFO.TOTAL_CONTRIBUTOR' | translate")
    .sett-info__text(ng-bind="$ctrl.info.totalContributor || 0")
  .sett-info__content
    .sett-info__title(ng-bind="'SETTLEMENT.INFO.TOTAL_PAY' | translate")
    .sett-info__text(ng-bind="$ctrl.info.totalPay || 0")

  .sett-info__divider

  .sett-info__content
    .sett-info__title(ng-bind="'SETTLEMENT.INFO.TOTAL_ERROR' | translate")
    .sett-info__text--error.sett-info__text(ng-bind="$ctrl.info.totalError || 0")

  .sett-info__content 
      .sett-info__title(ng-bind="'SETTLEMENT.INFO.TOTAL_ERROR_CONTRIBUTOR' | translate")
      .sett-info__text--error.sett-info__text(ng-bind="$ctrl.info.totalErrorContributor || 0")
  
  //- Agrega una información del total de registros filtrados
  .sett-info__divider
  .sett-info__content 
      .sett-info__title(ng-bind="'SETTLEMENT.INFO.TOTAL_FILTER_REGISTER' | translate")
      .sett-info__text(ng-bind="$ctrl.info.totalFilterRegister || 0")
        
