.sett(ng-class="{'sett--no-file': !$ctrl.file.data}")
  .sy__title-content
    span(ng-bind="'SETTLEMENT.TITLE' | translate")

  .sett__content
    loading(show-loading="$ctrl.showLoading")

    .sett__left
      .sett__left-menu
        span(ng-if="$ctrl.showPanel") OCULTAR PANEL
        i.mdi.mdi-format-indent-decrease(ng-click="$ctrl.showPanel = false" ng-if="$ctrl.showPanel")
        i.mdi.mdi-format-indent-increase(ng-click="$ctrl.showPanel = true" ng-if="!$ctrl.showPanel")
      //- Opciones de carga de archivo
      sett-options(file="$ctrl.file" ng-if="$ctrl.showPanel" validation-result="$ctrl.validationResult" info="$ctrl.info" show-error-validate-file="$ctrl.showErrorValidateFile" list-errors-validate-file="$ctrl.listErrorsValidateFile" show-loading="$ctrl.showLoading")
      //- Lista de valores informativos del archivo
      sett-info(info="$ctrl.info" ng-if="$ctrl.showPanel")

    .sett__right
      .sett__menu
        include settlement.tabs.pug
      .sett__right-content(ng-if="$ctrl.file.data" ng-class="{'sett__right-content--without-panel': !$ctrl.showPanel}")
        sett-contributors(ng-show="$ctrl.currentTab === 'contributors'" file="$ctrl.file" list-errors-contributors="$ctrl.listErrorsContributors" validation-result="$ctrl.validationResult" info="$ctrl.info")
        sett-totals(ng-show="$ctrl.currentTab === 'totals'" file="$ctrl.file")
        sett-table-errors(ng-if="$ctrl.currentTab === 'errors' && $ctrl.listErrorsContributors" list-errors-contributors="$ctrl.listErrorsContributors" total-errores="$ctrl.totalRealErrores")
        sett-table-corrected(ng-if="$ctrl.currentTab === 'corrected' && $ctrl.listErrorsContributors" list-errors-contributors="$ctrl.listErrorsCorrected" total-correcciones="$ctrl.totalRealCorrecciones" total-corr-realizadas="$ctrl.totalCorrRealizadas")

    include settlement.popup.errors.pug
