.error
  &__table

    &--error
      color: #f35a5d !important;
      i
        margin-right: 10px;
    &--priority
      background: rgba(0, 121, 192, 0.12) !important;
    &-head
      color: #333;
      display: flex;
      align-items: center;
      height: 40px;
      padding-left: 10px;
      font-weight: bold !important;
      font-size: 14px !important;
      border-top: 1px solid #b5bdd2;
      & span:last-child
        color: red;
        margin-left: 10px;
    &-container
      overflow: scroll;
      max-height: 150px;
      table
        min-width: 1400px;
