//- El archivo index hereda de la plantilla principal, este documento realiza
//- la integración de todos los archivos js y css por lo que la raiz para
//- rutas de imagenes y otros archivos se toma con la ruta ../ teniendo cuenta que
//- el archivo queda en la carpeta public/views*/
extends layouts/layouts.main.pug
