.table

  &__row
    &--error
      background: rgba(255, 0, 0, 0.13) !important;
    &--selected
      background: #DFFFEE !important;

  &__nav
    display: flex;
    align-items: center;
    padding: 10px;
    a
      cursor: pointer;
      margin-right 10px;
      font-size: 20px;
    i
      color: #75818c;

  &__data
    &--no-data
      border: none !important;
      span
        font-size: 18px !important;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 0px;
    &--filter
      min-height: 150px;
    th
      span
        margin-right: 15px !important;
        cursor: pointer;
    &--block-cell
      background: hsla(0, 0%, 95%, 0.41);
      cursor: default !import;
    &-field
      &--error
        border-bottom: 1px solid red !important;
        color: red !important;

  &__filter
    position: absolute;
    z-index: 999999;
    top: 26px;
    background: white;
    border: 1px solid #a0a0a0;
    border-radius: 2px;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    &-input
      &--full
        width: 100% !important;
    &-head
      span
        color: #8c8c8c;
        font-style: italic;
        text-transform: capitalize;
    &-body
      display: flex;
      margin-top: 5px;
      flex-direction: column;
    &-block
      margin-bottom: 5px;
    &-close
      color: red;
      font-size: 21px;
      position: absolute;
      top: -12px;
      right: -9px;
      cursor: pointer;
      i
        &::before
          border-radius: 100%;
          background: rgba(255,255,255,1);
          background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 10%, rgba(237,237,237,0) 100%);
    input
      border: none;
      border-bottom: 1px solid black !important;
    a
      cursor: pointer;
      margin-left: 5px;
    &-delete
      color: red;
      font-size: 18px !important;


  &__container
    position: relative;
    margin: 0;
    padding: 0;
    border: none;
    overflow: hidden;
    display: flex;

  &__left
    position: relative;
    overflow: hidden;
    min-width: 111px;
    margin-right: -1px;
    padding-top: 24px;

  &__right
    position: relative;
    overflow: hidden;
    display: flex;
    padding-top: 24px;
    .table__scroll
      margin-right: 10px;
    .table__data
      margin-top: -24px;

  &__fixed
    min-width: 98%;
    left: 0px;
    position: absolute;
    &-container
      position: absolute;
      width: 100%;
      top: 0;
    th
      padding: 3px 0 !important;
    &-limit
      position: absolute;
      width: 10px;
      height: 24px;
      background: white;
      right: 0;
      border-left: 1px solid #ccc;
    &-filter
      margin-left: 5px;
      margin-right: 5px;
      cursor: pointer;
      color: #ccc;
      &--enable
        span
          color: #1a54a2 !important;
        i
          color: #1a54a2 !important;
    &-columns
      overflow: hidden;
      position: absolute;
      &--head
        position: absolute;
        top: 0;
        z-index: 99;
        th:first-child
          width: 37px;
      &--data
        position: absolute;
        top: 0;
        th:first-child
          width: 37px;
        tr
          td:first-child
            text-align: left !important;
            padding-left: 5px !important;
        td
          text-align: center;
          i
            height: calc(100% - 25px);
            top: 25px;


  &__data
    min-width: 100%;

  &__scroll
    width: 100%;
    max-height: 200px;
    overflow: scroll;

    &-error
      width: 10px;
      background: white;
      position: absolute;
      right: 0px;
      border-left: 1px solid #b5bdd2;
      height: calc(100% - 22px);
      top: 25px;
      &-item
        position: absolute;
        width: 10px;
        height: 4px;
        background: red;
        cursor: pointer;

    th
      text-transform: capitalize;

    input
      border: none;
      width: 99%;

      &:focus:not(#table-filter)
        outline: none;
        border: 2px solid #2196f3;
        margin: -3px;
        font-size: 14px;
        padding: 0px;
        width: 101%;
        top: 1px;
        position: relative;
