.sett-info
  width: 150px;
  font-size: 13px !important;

  &__divider
    border-top: 1px solid #e2e2e2;
    margin-top: 10px;

  &__title
    font-weight: bold;
    color: #1d5ba6;

  &__content
    margin-top: 10px;

  &__text
    font-weight: bold;
    &--error
      color: #fb5353;
      font-size: 14px;
