.footer(ng-class="{'footer__app': !userLogin}")
  p
    span &copy; Copyrights ACH Colombia S.A
  //- Cuando se esta en el login se debe mostrar una linea aparte el texto.
  p(ng-if="userLogin")
    span L&iacute;nea de atenci&oacute;n al cliente:
  p
    //- Si esta dentro de la app todo el texto se muestra en una sola linea.
    span(ng-if="!userLogin") L&iacute;neas de atenci&oacute;n al cliente:
    |  Planilla electr&oacute;nica /
    span  Bogot&aacute;
    |  380 8880 -
    span  Medell&iacute;n
    |  204 0180 -
    span  Resto del Pa&iacute;s
    |  01 8000 11 0764
  .footer__version(ng-bind="'v' + version")
