@import "style.dashboard.notification"
@import "style.dashboard.table"

.dashboard

  &__contributor
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #b5bdd2;
    background: white;
    height: 60px;

    &-item
      display: flex;
      flex-direction: column;
      &:nth-child(1)
      &:nth-child(3)
        width: 41%;
      &:nth-child(2)
        width: 16%;
      &:nth-child(1)
        margin-left: 40px;
      & > span:first-child
        color: #1f58a4;
        font-size: 11px;
        text-transform: uppercase;
        font-weight: bold;
      & > span:last-child
        color: #75818c;
        font-size: 13px;
        padding: 4px 10px;
        font-weight: 600;

  &__tables
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    & > dashboard-table
      width: 50%;


.ui-corner-all.ui-dialog-titlebar
  width: 90%;
  margin: 8px auto;
  background: rgba(230, 230, 233, 0.8);
  span
    color: #0079c0 !important;
.ui-corner-all 
    border-radius: 0px !important;
    background: white !important;
    #btn-replace-regsTp02
      display: -webkit-box;
      display: -moz-box;
      display: -webkit-flex;
      text-align: center;
      text-shadow: 0 1px 1px rgba(0,0,0,0.5);
      font-weight: 700;
      padding: 8px 12px;
      cursor: pointer;
      width: 100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      border-radius: 2px;
      -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.15);
      box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.15);
      display: -ms-flexbox;
      display: box;
      display: flex;
      -webkit-box-align: center;
      -moz-box-align: center;
      -o-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      -webkit-box-pack: center;
      -moz-box-pack: center;
      -o-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      text-transform: uppercase;
      background-color: #1abc67;
      border: 1px solid #16a158;
      color: #fff;
    .ui-dialog-content
      background: white !important;
    div
      margin-top: 8px;
    input
      width: 95%;
      padding 8px;
    textarea
      padding 8px;
