.dashboard-table
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 15px;
  box-sizing: border-box;

  & .sy-table__container
    width: 100%;

  & tbody tr
    cursor: pointer;

  &__container
    width: 100%;
    overflow-x: auto;
    table
      margin-bottom: 5px;

  &__search
    border-top: 1px solid #b5bdd2;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    align-items: center;
    span
      padding: 3px 10px;
      font-size: 19px;
      border: 1px solid #B0AFAF;
      border-radius: 2px;
      color: #555;
      background: #eee;
      position: relative;
      left: 3px;
    input
      width: 100%;
      font-size: 12px;
      box-sizing: border-box;
      height: 34px;
      padding: 8px 12px;
      position: relative;
